.contenedorGimnasio{background-color: rgba(9, 15, 16, 0.91); border-top: 5px solid rgb(255, 0, 0); border-bottom: 5px solid rgb(255, 0, 0);}
.contenedorGimnasio__titulo{text-align: center; font-size: 1.5em; color: #fff;}
.sliderGimnasio{
    width: 90%;
    height: 300px;
    position: relative;
    margin: auto;
    &__img
            {   
            transition: .4s ease-out;
            -webkit-transition: .4s ease-out;
            -moz-transition: .4s ease-out;
            -ms-transition: .4s ease-out;
            -o-transition: .4s ease-out;
            opacity: 0;
            position: absolute;
            width: 100%;
            height: inherit;
            top: 0;
            left: 0;
            margin: auto;
            overflow: hidden;
            img{
                    width: 100%;
                    height: 100%;
                    display: block;
                    object-fit: cover;
                    
                    
                }
        }
}
.sliderGimnasioBtn{
    position: absolute;
    bottom: 10%;
    width: 100%;
    height: 60px;
    
    
        &__btn{
            background-color: rgba(0, 0, 0, 0.527);
            border: none;
            font-size: 2em;
            cursor: pointer;
            color: rgb(255, 0, 0);
}&__btn:nth-child(1){position: absolute; left: 0;}
        &__btn:nth-child(2){position: absolute; right: 0;}
}
.sliderGimnasioBtn__btn:hover{
    transition: transform .5s ease-out;
    transform:scale(1.2);
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    -webkit-transition: transform .5s ease-out;
    -moz-transition: transform .5s ease-out;
    -ms-transition: transform .5s ease-out;
    -o-transition: transform .5s ease-out;
}
.descripcionArea{
    background-color: rgba(0, 0, 0, 0.527);
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
   font-weight: 700;
   color: #fff;
   
}
.contenedorGimnasio__informacion, .gimnasioLista{
    font-size: 1.2em;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
}

.activarImg{
    opacity: 1;
    transition: opacity .6s ease-out;
    -webkit-transition: opacity .6s ease-out;
    -moz-transition: opacity .6s ease-out;
    -ms-transition: opacity .6s ease-out;
    -o-transition: opacity .6s ease-out;
}
.contenedorGimnasioLista{padding: 0;}
.gimnasioLista{
    cursor: pointer;
    margin: 15px 0;
    list-style: none;
        &__icon{margin-right: 5px;}
}
.gimnasioLista:hover{
    transition: color .5s ease-out;
    color: rgb(255, 0, 0);
    -webkit-transition: color .5s ease-out;
    -moz-transition: color .5s ease-out;
    -ms-transition: color .5s ease-out;
    -o-transition: color .5s ease-out;
}







