@media screen and (min-width: 760px){
    .modalRutina{width: 500px;}
    .contenedorInfo{
        &__titulo{text-align: center;}
        &__info{padding: 15px;}
    }
    .menuItems__btn > a {font-size: 3.5em;}
    .infoPersona__correo{font-size: 16px;}
    .contenedorTexto__frase{font-size: 1.6em;}
    .contenedorTexto__turno{font-size: 2em;}
    .contenedorTexto__titulo{font-size: 4em;}
    .copy{font-size: 14px;}
    .FredSocial > a{width: 80px; height: 80px;}
    .Fcontact__items,.footerList__titulo{font-size: 20px;}
    .modal .modalInfo{width: 550px; height: 500px;}
    .modal .modalInfo__beneficios{font-size: 20px;}
    .contenedorInfo__cartas{display: flex; justify-content: center; align-items: center;}
}

@media screen and(min-width: 1024px){
    .modalRutina{top:55%;}
    .menuItems__btn > a {font-size: 3em;}
    .FredSocial > a{width: 50px; height: 50px;}
    .Fcontact__items,.footerList__titulo{font-size: 14px;}
    .footerList{width: 100%;}
    .FredesSociales{flex-direction: column;}
    .footerInfo{flex-direction: row;}
    .contenedorInfo{display: flex;}
}

@media screen and(min-width: 1280px) {
    .contenedorGimnasio__informacion, .gimnasioLista{font-size: 1em;}
    .contenedorTexto__titulo{font-size: 2.5em;}
    .gimnasioLista{font-size: 1.1em;}
    .contenedorTexto__turno{font-size: 1.5em;}
    .header__logo{font-size: 2em;}
    .tipoRutina__btn{width: 140px; height: 40px;}
    .tipoRutina{bottom: 5%;}
    .contRutina{height: 300px;}
    .rutinaTexto{width: 50%;}
    .descripcionArea{height: 50px; font-size: 1.1em;}
    .infogim-flex{display: flex; padding: 15px;}
    .sliderGimnasio{height: 400px; width: 50%;}
    .contenedorInfo__cartas{width: 50%;}
    .header__icono{display: none;}
    .menu{
        position: relative;
        width: 60%;
        background-color: transparent;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        margin-right: 20px;
        height: 0;
    }.menuItems{
        justify-content: space-around;
        width: 100%;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        flex-direction: row;
        &__btn > a{font-size: 1.4em;}
    }
    .menuItems__btn > a::before{font-size: .80em;}
}