
//
@mixin cajas-flexibles($justyfi, $align, $direction) {
    display: flex;
    justify-content: $justyfi;
    align-items: $align;
    flex-direction: $direction;
}
.contenedorTexto__frase{text-align: center;
                            &--rojo{color: rgb(0, 0, 0); text-decoration: underline;}
                        }
.contenedorSection{
    z-index: 40;
    position: relative;
    border-bottom: 4px solid rgb(255, 0, 0);
}
.contenedorImagen{
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
}

.contenedorSlide{
    transition: 0.7s ease-out;
    -webkit-transition: 0.7s ease-out;
    -moz-transition: 0.7s ease-out;
    -ms-transition: 0.7s ease-out;
    -o-transition: 0.7s ease-out;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    &__img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
}


.contenedorTexto{
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include cajas-flexibles(center,center ,column);
        &__titulo{
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.541);
            padding: 7px;
            font-size: 2em;
            color: rgb(0, 0, 0);
            font-weight: 800;
            text-shadow: 3px 8px 3px rgb(121, 119, 119);
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            .titulo--naranja{
                color: rgba(231, 17, 17, 0.863);
            }
            }
        &__frase{
            color: rgb(255, 255, 255);
            font-size: 1.4em;
            font-weight: 700;
        }
        &__turno{
            position: absolute;
            bottom: 5%;
            padding: 7px;
            color: rgba(231, 17, 17, 0.863);
            background-color: rgba(22, 22, 22, 0.993);
            font-size: 1.3em;
            text-decoration: none;
            cursor: pointer;
            font-weight: 700;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            text-decoration: underline;
            display: block;
            transition: .5s ease-out;
            -webkit-transition: .5s ease-out;
            -moz-transition: .5s ease-out;
            -ms-transition: .5s ease-out;
            -o-transition: .5s ease-out;
            border: none;
}
        .contenedorTexto__turno:hover{
            transition: transform .5s ease;
            transform: translateY(-5px);
            -webkit-transform: translateY(-5px);
            -moz-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
            -o-transform: translateY(-5px);
            box-shadow: 0 .5em .5em -.4em white;
            -webkit-transition: transform .5s ease;
            -moz-transition: transform .5s ease;
            -ms-transition: transform .5s ease;
            -o-transition: transform .5s ease;
}
}

.activarSlide{
    opacity: 1;
    transition: opacity .7s ease-out;
    -webkit-transition: opacity .7s ease-out;
    -moz-transition: opacity .7s ease-out;
    -ms-transition: opacity .7s ease-out;
    -o-transition: opacity .7s ease-out;
}

.contenedorSection::before{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 11, 11, 0.377);
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    z-index: 1;
}